<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>This is ejs rendering engine</title>
</head>
<body>

Welcome to the most awaited website in the world. <br>
You are logged in as <%= person %>

<h1><strong>Age:</strong><%= data.age %></h1>
<h1><strong>Job:</strong><%= data.job %></h1>

</body>
</html>